html {
  height: 100%;
}
body {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: #3a3c3d;
  /* background: linear-gradient(45deg,#2CA453, #64E6BA);
  background: linear-gradient(45deg,#3f3c3c, #424649); */

}
/*background: linear-gradient(direction, color-stop1, color-stop2, ...);  */
